* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
h1 {
  color: white;
}
.navbar- {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #212121;
  width: 100%;
  color: #e2e2e2;
}
.title {
  font-size: 35px;
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.navbar-title {
  display: flex;
  margin-left: 25px;
}
.navbar-title h1 {
  font-size: 28px;
  margin-top: 20px;
  margin-left: 20px;
}
.logo-nav {
  width: 55px;
}
.navbar-nav {
  margin-right: 35px;
}
.navbar-nav ul {
  display: flex;
  margin-top: 25px;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}
.navbar-nav a {
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: 55px;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
  border-bottom: 2px grey solid;
  color: grey;
}

.sidebar {
  color: white;
  position: sticky;
  min-width: 280px;
  max-width: 280px;
  top: 0;
  left: 0;
  height: 100vh;
  background: #111414;
  padding: 500px;
}
.nav-item {
  display: flex;
  padding: 10px;
}
.nav-link {
  color: #32aaff;
  padding: 3px !important;
  border: none !important;
}
.arrow-section {
  margin-right: 10px;
  width: 15px;
}

.content {
  display: flex;
}
.apod-div {
  display: flex;
  flex-direction: row;
  margin: 25px auto;
  max-width: 75%;
  text-align: center;
  height: 100%;
}
.apod-img {
  margin: 30px auto;
  width: 580px;
  max-height: 600px;
  max-width: 650px;
}

.description {
  text-align: justify;
  margin: 25px;
  color: rgb(33, 33, 33, 0.85);
}
.card,
.card-header,
.card-footer,
.card-img {
  border-radius: 0 !important ;
}
.card-img {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  background: #121212;
}
.card {
  border: 2px solid #17191b !important;
  border-radius: 0px !important;
}
.card-img iframe {
  height: 320px;
  max-width: 500px;
}
/* SpaceX's page */
.new-section {
  margin: 25px auto;
  text-align: center;
}

.card-facts {
  max-width: 500px;
  height: 100%;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
}
.card-facts-title {
  font-size: 25px;
}

.text-muted {
  text-decoration: none;
}
.card-text {
  color: rgb(226, 226, 226, 0.8);
  margin-top: 13px;
  font-size: 15px;
  text-align: justify;
}
.card-body {
  background: #121212 !important;
  color: #e2e2e2;
}
.card-header,
.card-footer {
  padding: 7px !important;
  background: #17191b !important;
}
.card-header-tabs {
  display: flex;
  justify-content: center;
}
.nav-title {
  font-size: 14px;
}

.historical-facts {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px;
}
.new-article,
.blog-section {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* News page */
.content-news,
.content {
  background: #212529;
}

.articles,
.blogs {
  text-align: center;
}
.articles h1,
.blogs h1 {
  margin: 50px;
}

.card-img-articles {
  width: 100%;
  height: 240px;
  object-fit: scale-down;
  padding: 10px;
}

.article-img,
.reddit-img,
.wikipedia-img {
  width: 30px;
}

/* Rockets section */

.content-rocket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.content-rocket h1 {
  margin-top: 50px;
}
.rocket {
  margin: 50px 10%;
  background: #121212 !important;
  padding: 20px;
}
.rocket-presentation {
  text-align: justify;
}
.rocket-img {
  margin: 50px;
  width: 550px;
}
.rocket-name {
  text-align: center;
}
.footer,
.rocket-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.text-details {
  color: #08c;
  cursor: pointer;
}
.text-details:hover {
  color: royalblue;
  border-bottom: 1px solid royalblue;
}

/* Chatroom section */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-b: rgb(48, 48, 48, 0.5);
  --dark-color-a: rgb(42, 39, 42, 0.95);
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: rgb(0, 0, 0, 0.8);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.chat-titles {
  display: flex;
  justify-content: center;
}
.chat-titles img {
  width: 30px;
  margin-left: 10px;
}
.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.75);
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: rgb(48, 48, 48, 0.95);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  height: 500px;
  max-height: 800px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.75);
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
